.button {
  font-size: $size-7;
}

.box {
  border: 1px solid $grey;
}

#news {
  &.section {
    padding-top: 80px;
  }

  a.box {
    text-decoration: none;
    padding: 20px 24px 32px;

    .date {
      font-size: $size-8;
    }

    .title {
      margin: 8px 0;
      font-size: $size-7;

      @include desktop {
        font-size: $size-6;
      }
    }

    .small {
      color: $grey-dark;
    }

    &:hover {
      border-color: $primary;
      box-shadow: none;

      .title {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
}

.content {
  p:not(:last-child) {
    margin-bottom: 18px;
  }

  .p-header {
    margin-bottom: 18px !important;

    &:not(:first-of-type) {
      margin-top: 36px;
    }
  }

  .p-indent {
    margin-left: 32px;
  }

  ul,
  ol {
    margin-top: 36px;

    &:not(:last-child) {
      margin-bottom: 36px;
    }

    li + li {
      margin-top: 21px;
    }
  }

  ul {
    li {
      position: relative;
      list-style-type: none;

      &:before {
        position: absolute;
        color: $primary;
        content: '■';
        font-size: 1em;
        left: -1.5em;
      }
    }
  }
}

.docs-list {
  font-size: $size-8;
  margin: 40px 0;

  @include desktop {
    font-size: $size-7;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .icon {
      font-size: 18px;
      margin-right: 16px;
    }

    .title {
      flex-grow: 1;
    }

    .button {
      height: 35px;
      font-size: inherit;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.table-csv {
  font-size: $size-8;
  width: 100%;

  @include desktop {
    font-size: $size-7;
  }

  th {
    font-weight: $weight-semibold;
    font-size: $size-7;

    @include desktop {
      font-size: $size-6;
    }
  }

  td.col2 {
    color: $primary;
    font-weight: $weight-semibold;
  }

  .indent {
    @include tablet {
      padding-left: 32px;
    }
  }

  b {
    font-weight: $weight-semibold;
  }
}

.accordion-widget, .accordion-widget-success {
  .box {
    padding: 0;

    > .button {
      font-weight: $weight-semibold;
      color: $blue;
      background: transparent;
      border: 0;
      height: 85px;
      width: 100%;
      justify-content: space-between;
      padding: 20px 24px;
      box-shadow: none;
      font-size: $size-6;
      white-space: nowrap; 
      overflow: hidden;

      .icon {
        margin: 0;
      }

      .buttontext {white-space: initial; width:90%; text-align: justify;}
    }

    .content {
      padding: 0 24px 24px;
      display: none;
    }

    &.is-active {
      .content {
        display: block;
      }

      > .button .icon {
        transform: rotate(180deg);
      }
    }
  }
}

.tabs-widget {
  margin-top: 48px;
  padding: 13px 24px 24px;

  @include touch {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .tabs {
    margin-bottom: 32px;

    a {
      color: $grey-dark;
      font-size: $size-7;
      text-decoration: none !important;

      &:hover {
        color: $blue;
      }
    }
  }

  .tab-select {
    margin-bottom: 24px;

    select {
      background-color: $blue;
      color: $white;
      padding: 12px 16px;
      font-weight: $weight-semibold;
    }
  }

  .tab-content {
    display: none;

    h2 {
      margin-bottom: 16px;
    }

    &.is-active {
      display: block;
    }
  }

}

.carousel {
  height: 400px;

  img {
    height: 400px;
    width: auto;
    // max-width: 10000px;
    object-fit: cover;
  }

 
}

.lb-gallery {
  .columns {
    margin: 18px -6px 24px;

    .column {
      padding: 6px;
    }
  }

  a {
    img {
      display: block;
      height: 170px;
      width: 100%;
      object-fit: cover;
    }
  }
}
