---
layout: default
filelist:
  POR2007:
    - title: Programul Operațional Regional (POR) 2007-2013
      file: POR_2007-2013.pdf
  POR2014a:
    - title: Introducere în Politica de coeziune a UE 2014-2020
      file: Introducere în Politica de coeziune a UE 2014-2020.pdf
  POR2014b:
    - title: Acordul de Parteneriat 2014-2020
      file: Acordul de Parteneriat 2014-2020.pdf
  POR2014c:
    - title: Programul Operațional Regional (POR) 2014-2020
      file: POR_2014-2020.pdf
  POR2021:
    - title: Arhitectura Programelor Operaționale 2021-2027
      file: Arhitectura Programelor Operaționale 2021-2027.pptx
    - title: Politica de coeziune 2021-2027
      file: Politica de coeziune 2021-2027.pptx
    - title: Propuneri priorități naționale de investiții
      file: Propuneri priorități naționale de investiții.pptx
list:
  - Regulamentul privind prevederile comune (CPR);
  - Regulamentul privind Fondul european de dezvoltare regională (FEDR) și Fondul de coeziune (FC);
  - Regulamentul privind cooperarea teritorială;
  - Regulamentul privind mecanismul de cooperare transfrontalieră;
  - Regulamentul privind Fondul social european plus (FSE+).
---

<div class="container">
  <div class="page-container">
    <h2 class="heading">Perioada de programare 2007-2013</h2>
    {% include docs-list.html list=page.filelist.POR2007 %}

    <h2 class="heading">Perioada de programare 2014-2020</h2>
    <div class="content" style="text-align: justify;">
      În perioada 2014-2020, România beneficiază de 30,882 miliarde de euro
      fonduri structurale și de investiții europene, din care aproximativ 23
      miliarde euro
      <span class="semibold-primary"
        >sunt fonduri dedicate politicii de coeziune</span
      >
      (cu 10% mai mult faţă de perioada 2007-2013).
    </div>

    {% include docs-list.html list=page.filelist.POR2014a %}

    <div class="content">
      <p style="text-align: justify;">
        <br />
        <span class="has-text-primary">Acordul de Parteneriat</span> este
        documentul prin care a fost stabilită strategia de utilizare optimă a
        Fondurilor Europene Structurale și de Investiții (FESI) în întreaga
        țară.
      </p>
    </div>

    {% include docs-list.html list=page.filelist.POR2014b %}

    <div class="content">
      <p style="text-align: justify;">
        <br />
        Programele Operaționale prin care România atrage banii europeni pe
        perioada 2014-2020 sunt:
      </p>

      <ul class="has-text-weight-semibold">
        <li>Programul Operațional Competitivitate</li>
        <li>Programul Operațional Capital Uman</li>
        <li>Programul Operațional Capacitate Administrativă</li>
        <li>Programul Național de Dezvoltare Rurală</li>
        <li class="has-text-primary">Programul Operațional Regional</li>
        <li>Programul Operațional Infrastructură Mare</li>
        <li>Programul Operațional Pescuit și Afaceri Maritime</li>
        <li>Programul Operațional Asistență Tehnică</li>
        <li>
          Programul Operațional Ajutorarea Persoanelor Dezavantajate 2014-2020
        </li>
      </ul>

      <p style="text-align: justify;">
        Pentru Programul Operațional Regional 2014-2020, Autoritatea de
        Management este Ministerul Lucrărilor Publice, Dezvoltării și
        Administrației, iar Agențiile pentru Devoltare Regională din cele 8
        regiuni ale României au fost desemnate Organisme Intermediare.
      </p>

      {% include docs-list.html list=page.filelist.POR2014c %}
    </div>

    <h2 class="heading">Perioada de programare 2021-2027</h2>
    <div class="content">
      <p style="text-align: justify;">
        În perioada 29 – 30 mai 2018, Comisia Europeană a publicat propunerea
        privind
        <a
          href="https://ec.europa.eu/commission/publications/regional-development-and-cohesion_ro"
          class="has-text-weight-semibold"
          target="_blank"
          >Pachetul legislativ privind Politica de Coeziune (PC) 2012-2027</a
        >. Acesta cuprinde:
      </p>
      <ul class="has-text-weight-semibold">
        {% for item in page.list %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <p style="text-align: justify;">
        Regulamentul privind prevederile comune conține un set unic de norme
        pentru 7 fonduri UE implementate în gestiune partajată, respectiv:
        <span class="has-text-weight-semibold"
          >Fondul european de dezvoltare regională, Fondul de coeziune, Fondul
          social european+, Fondul european pentru pescuit și afaceri maritime
          (FEPAM), Fondul pentru azil și migrație (FAMI), Fondul pentru
          securitate internă (ISF) și Instrumentul pentru frontiere externe și
          vize (IBMF)</span
        >. Comparativ cu actuala perioadă de programare, CPR nu mai
        acoperă Fondul european pentru agricultură și dezvoltare rurală (FEADR).
      </p>

      <p class="p-header" style="text-align: justify;">
        În data de 14 ianuarie 2020, Comisia Europeană a publicat propunerea
        privind
        <a
          href="https://ec.europa.eu/info/strategy/priorities-2019-2024/european-green-deal_ro"
          class="has-text-weight-semibold"
          target="_blank"
          >Fondul pentru tranziție echitabilă (Just Transition Fund – JTF)</a
        >, ca parte componentă a unui pachet mai amplu legislativ referitor la
        Pactul Ecologic European (European Green Deal).
      </p>

      <p style="text-align: justify;">
        <a
          href="https://ec.europa.eu/commission/presscorner/detail/ro/fs_20_50"
          class="has-text-weight-semibold"
          target="_blank"
          >Fondul pentru Tranziție Echitabilă</a
        >
        este complementar fondurilor Politicii de Coeziune, fiind necesară
        modificarea în consecința a proiectului de regulament privind
        <a
          href="https://ec.europa.eu/commission/presscorner/detail/ro/fs_20_52"
          class="has-text-weight-semibold"
          target="_blank"
          >Dispozițiile comune ce guvernează perioada de programare 2021-2027</a
        >.
      </p>

      <p class="p-header" style="text-align: justify;">
        La nivel național și regional se defășoară în prezent procesul de
        programare al fondurilor europene.
        <span class="has-text-weight-semibold"
          >Ministerul Fondurilor Europene</span
        >
        este coordonatorul procesului de programare al fondurilor ESI, destinate
        politicii de coeziune.
      </p>
    </div>

    {% include docs-list.html list=page.filelist.POR2021 %}
  </div>
</div>
