---
layout: default
title: Regulamente UE 2014-2020
filelist:
  R1:
    - title: Regulamentul (UE) nr. 1303/2013
      subtitle: General
      file: Reg_UE 1303 2013 General.pdf
    - title: Regulamentul (UE) nr. 1301/2013
      subtitle: Fondul European de Dezvoltare Regională (FEDR)
      file: Reg_UE 1301 2013 FEDR.pdf
    - title: Regulamentul (UE) nr. 1302/2013
      subtitle: Grupare Europeană de Cooperare teritorială (GECT)
      file: Reg_UE 1302 2013 GECT.pdf
    - title: Regulamentul (UE) nr. 1304/2013
      subtitle: Fondul Social European (FSE)
      file: Reg_UE 1304 2013 FSE.pdf
    - title: Regulamentul (UE) nr. 1305/2013
      subtitle: Fondul Agricol pentru Dezvoltare Rurală (FEADR)
      file: Reg_UE 1305 2013 FEADR.pdf
    - title: Regulamentul (UE) nr. 1306/2013
      subtitle: PAC
      file: Reg_UE 1306 2013 PAC.pdf
    - title: Regulamentul (UE) nr. 1309/2013
      subtitle: Fondul de ajustare la globalizare
      file: Reg_UE 1309 2013 Ajustare la globalizare.pdf
  R2:
    - title: Regulamentul (UE) – propunere
      subtitle: Dispoziții comune
      file: Dispoziții comune - Propunere regulament COM(2018) 375 și Anexe.pdf
    - title: Regulamentul (UE) – propunere
      subtitle: Dispoziții specifice – Cooperare teritorială
      file: RegUE - Dispozitii specifice.pdf
    - title: Regulamentul (UE) - propunere | Anexă
      subtitle: Dispoziții specifice – Cooperare teritorială | Anexă
      file: RegUE - Dispozitii specifice_Anexa.pdf
    - title: Regulamentul (UE) – propunere
      subtitle: FEDR și Fondul de Coeziune
      file: FEDR și Fondul de Coeziune - propunere regulament COM(2018) 372 și anexe.pdf
    - title: Regulamentul (UE) – propunere
      subtitle: Mecanism soluționare privind FEDR SWD
      file: Mecanism soluționare dispoziții specifice privind FEDR SWD(2018) 283.pdf
    - title: Regulamentul (UE) – propunere
      subtitle: Mecanism transfrontalier
      file: Mecanismul transfrontalier - propunere regulament COM(2018) 373.pdf
  R3:
    - title: Regulament (UE) 2021/1056 - Instituire a Fondului pentru o tranziție justă
      file: Regulament (UE) 2021 1056 - Instituire a Fondului pentru o tranzitie justa.pdf
    - title: Regulament (UE) 2021/1057 -  Instituire a Fondului social european Plus (FSE+) și de abrogare e regulamentului (UE) nr.1296/2013
      file: Regulament (UE) 2021 1057 -  Instituire a Fondului social european Plus (FSE+) si de abrogare e regulamentului (UE) nr.1296 2013.pdf
    - title: Regulament (UE) 2021/1058 - Fondul european de dezvoltare regională și Fondul de Coeziune
      file: Regulament (UE) 2021 1058 - Fondul european de dezvoltare regionala si Fondul de Coeziune.pdf
    - title: Regulament (UE) 2021/1059 - Dispoziții specifice pentru obiectivul Cooperare teritorială europeană
      file: Regulament (UE) 2021 1059 - Dispozitii specifice pentru obiectivul Cooperare teritoriala europeana.pdf
    - title: Regulament (UE) 2021/1060 - Stabilirea dispoziților comune privind Fondurile Structurale.pdf
      file: Regulament (UE) 2021 1060 - Stabilirea dispozitilor comune privind Fondurile Structurale.pdf
---

<div class="container">
  <div class="page-container">
    <h2 class="heading">Regulamente UE 2014-2020</h2>
    <p style="text-align: justify;">
      Regulamentele europene guvernează utilizarea fondurilor de coeziune ale UE în perioada de programare 2014-2020.
    </p>
    
    {% include docs-list.html list=page.filelist.R1 %}

    <h2 class="heading">Regulamente UE 2021-2027</h2>
    <p style="text-align: justify;">
      Regulamentele europene guvernează utilizarea fondurilor de coeziune ale UE în perioada de programare 2021-2027.
    </p>
    {% include docs-list.html list=page.filelist.R2 %}

    <h2 class="heading">Pachetul legislativ pe coeziune 2021 - 2027</h2>
    {% include docs-list.html list=page.filelist.R3 %}
  </div>
</div>