---
layout: default
title: Studii și analize
filelist:
  R1:
    - title: Analiza nevoilor de competențe și formare în gestionarea proiectelor cu finanțare europeană
      subtitle:
      file: Analiza chestionar 20.11.2020.pdf

    - title: Analiza proiectelor contractate - national
      subtitle: 
      file: Analiza proiectelor contractate - national.pdf

    - title: Analiza proiectelor contractate - Regiunea Nord-Est
      subtitle: 
      file: Analiza proiectelor contractate - Regiunea Nord-Est.pdf

    - title: Analiza proiectelor Contractate - Regiunea Sud-Est
      subtitle: 
      file: Analiza proiectelor Contractate - Regiunea Sud-Est.pdf

    - title: Analiza proiectelor contractate - Regiunea Sud-Muntenia
      subtitle: 
      file: Analiza proiectelor contractate - Regiunea Sud-Muntenia.pdf

    - title: Analiza proiectelor contractate - Regiunea Sud-Vest Oltenia
      subtitle: 
      file: Analiza proiectelor contractate - Regiunea Sud-Vest Oltenia.pdf

    - title: Analiza proiectelor contractate - Regiunea Vest
      subtitle: 
      file: Analiza proiectelor contractate - Regiunea Vest.pdf

    - title: Analaliza proiectelor contractate - Regiunea Nord-Vest
      subtitle: 
      file: Analaliza proiectelor contractate - Regiunea Nord-Vest.pdf

    - title: Analiza proiectelor contractate - Regiunea Centru
      subtitle: 
      file: Analiza proiectelor contractate - Regiunea Centru.pdf

    - title: Analiza proiectelor contractate - Regiunea București-Ilfov
      subtitle: 
      file: Analiza proiectelor contractate - Regiunea Bucuresti-Ilfov.pdf

  R2:
    - title: Ghid de amenajare - Curtea școlii și spațiile de joacă
      subtitle: 
      file: 03_ARH_ICS_GHID 2020_WORLD BANK_SMALL WEB.pdf

    - title: Bune Practici în Dezvoltarea Urbană
      subtitle: 
      file: Bune Practici in Dezvoltarea Urbana spread.pdf

    - title: Barometru Urban - Politica Urbană a României
      subtitle: 
      file: Barometru-Urban_Politica-Urbana-a-Romaniei-1.pdf

    - title: Ghid de reabilitare a spațiilor publice urbane
      subtitle: 
      file: Ghid de reabilitare a spatiilor publice urbane.pdf

    - title: Ghid regenerare cartiere blocuri
      subtitle: 
      file: GHID REGENERARE CARTIERE BLOCURI_light.pdf

    - title: Ghid de regenerare a Spațiului Public Național
      subtitle: 
      file: Ghid_de_Regenerare_a_Spatiului_Public_National-Draft_11.06.2020.pdf

    - title: Ghid Regenerare Brașov
      subtitle: 
      file: Ghid_Regenerare_Brasov.zip

    - title: Ghid Regenerare Sector 5
      subtitle: 
      file: Ghid_Regenerare_Sector 5.zip

    - title: Ghid Regenerare Urbană locuințe
      subtitle: 
      file: Ghid_Regenerare_Urbana-locuinte_draft.pdf

    - title: Ghid atragere investiții private
      subtitle: 
      file: Ghid-atragere-investitii-private.pdf

    - title: Ghid de reabilitare a spațiilor publice urbane v.II
      subtitle: 
      file: Ghid_de_eabilitare_a_spatiilor_publice_urbane_var.pdf

    - title: Orașe-magnet - Migrație și navetism în România
      subtitle: 
      file: Orase-magnet - Migratie si navetism in Romania.pdf

    - title: Romania Catching Up Regions - Metropolitan Romania
      subtitle: 
      file: Romania-Catching-Up-Regions-Metropolitan-Romania.pdf
    
    - title: Atlasul zonelor rurale marginalizate
      subtitle: 
      file: Atlasul zonelor rurale marginalizate.pdf
    
    - title: Atlasul zonelor urbane marginalizate
      subtitle: 
      file: Atlasul zonelor urbane marginalizate.pdf

    - title: Metodologia de prioritizare a proiectelor pentru perioada 2014-2020 în Municipiul Alba Iulia
      subtitle: 
      file: Metodologia de prioritizare a proiectelor pentru perioada 2014-2020 in Municipiul Alba Iulia.pdf


      
---

<div class="container">
  <div class="page-container">
    <h2 class="heading">Studii și analize</h2>

    <br />

    <p class="has-text-weight-semibold" style="font-size: 18px;">Asociația ROREG</p>
    
    <div style="margin-top: 30px; height: 400px;  overflow: scroll;">
      <p style="margin-top: -39px;">
        {% include docs-list.html list=page.filelist.R1 %}
      </p>
    </div>

    <br /> <br />

    <p class="has-text-weight-semibold" style="font-size: 18px;">Alte organizații</p>
    <br />
    <p class="has-text-weight-semibold" style="font-size: 15px;">Banca Mondială</p>
    
    <div style="margin-top: 30px; height: 400px;  overflow: scroll;">
      <p style="margin-top: -40px;  margin-bottom:-40px;">
        {% include docs-list.html list=page.filelist.R2 %}
      </p>
    </div>
  </div>
</div>