---
---

@import 'variables';

.accordion-widget {
  .table-container {
    margin-left: -48px;
    margin-right: -48px;
    max-width: 1000px;
    overflow-x: auto;
    border: 1px solid $grey;
    border-width: 1px 0;
    padding: 0 24px;
    background: $white;

    @include desktop {
      margin-left: 0;
      margin-right: 0;
      border: 0;
      padding: 0;
    }
  }

  .content .button {
    height: 33px;
    font-size: $size-8;

    @include desktop {
      height: 35px;
      font-size: $size-7;
    }
  }
}