---
list:
  - tag: ADR Vest
    posturi:
      - title: Consultant Implementare POR (2 posturi)
        file: consultant.pdf
      - title: Consultant Achiziții
        file: consultant.pdf
      - title: Consultant Management Teritoriului
        file: consultant.pdf
      - title: Casier și ofițer financiar asistență tehnică
        file: casier.pdf
  - tag: ADR Centru
    posturi:
      - title: Consultant Management Teritoriului
        file: consultant.pdf
      - title: Casier și ofițer financiar asistență tehnică
        file: casier.pdf
---

<p class="has-text-weight-semibold">În prelucrare</p>

<!--{% for item in page.list %}
<p class="p-header">
  <span class="has-text-weight-semibold">{{ item.tag }}</span> ({{ item.posturi
  | size }} anunțuri)
</p>
<p>
  {% for post in item.posturi %}
  <a download href="/assets/files/downloads/{{ post.file }}">{{ post.title }}</a><br />
  {% endfor %}
</p>
{% endfor %}-->
