---
activitate:
  - Dezvoltăm regiuni puternice prin colaborări inteligente;
  - Privim european, acționăm regional;
  - Împreună dezvoltăm durabil și cu responsabilitate pentru generațiile viitoare.
valori:
  implicare: pentru interesul local, regional și al fiecărui locuitor al regiunilor;
  unitate: colaborare, învățarea reciprocă, împărtășirea lecțiilor învățate, a expertizei comune, suport pentru promovarea intereselor comune;
  perseverență: acționăm constant, coordonat și concentrat, la nivel național și internațional;
  respect: în relațiile cu toate instituțiile și cu toți beneficiarii de fonduri europene, față de toți actorii regionali, cât și pentru lege și principii europene;
  angajament: calitate și profesionalism în toate activitățile desfășurate.
---

<p class="semibold-primary p-header">
  Care este rațiunea înfințării Asociației ROREG?
</p>

<p style="text-align: justify;">
  Nevoia identificată de la care a plecat înființarea Asociației ROREG a fost
  lipsa unei abordări integrate și unitare la nivel național în ceea ce privește
  susținerea intereselor comune ale celor 8 Agenții pentru Dezvoltare Regională
  referitoare la dezvoltarea regională și la implementarea programelor cu
  finanțare europeană. Multe probleme nu sunt specifice doar teritoriului din
  cadrul hotarelor administrative regionale şi deseori necesită intervenții
  comune coordonate precum şi noi forme de cooperare.
</p>
<p style="text-align: justify;">
  Asociația ROREG își propune să îmbunătățească procesul de dezvoltare
  regională, pledând pentru unitate în diversitate și militând pentru
  dezvoltarea fiecărei regiuni, în funcție de specificul fiecăreia.
</p>

<p class="semibold-primary p-header">Ce este unic în activitatea noastră?</p>
<p style="text-align: justify;">
  Asociația ROREG își propune să se implice într-o
  <span class="has-text-weight-semibold">manieră inovatoare</span> în
  dezvoltarea durabilă a regiunilor din România, prin promovarea bunelor
  practici și a cooperării între regiuni, construind și capitalizând pe
  experiențele acumulate în mai mult de 20 de ani de activitate în domeniul
  dezvoltării regionale dar și al implementării fondurilor europene.
</p>
<p style="text-align: justify;">
  Din
  <span class="has-text-weight-semibold">perspectiva dezvoltării regionale</span
  >, Asociația ROREG își propune să promoveze creșterea inteligentă, durabilă și
  favorabilă incluziunii a tuturor regiunilor României.
</p>
<p style="text-align: justify;">
  Din
  <span class="has-text-weight-semibold"
    >perspectiva procesului de implementare a fondurilor europene</span
  >, urmărim să gestionăm eficient și eficace la nivel regional fondurile
  europene, într-o manieră transparentă și simplificată, pentru ca acestea să
  genereze proiecte inteligente și durabile.
</p>
<p>Activitatea Asociației ROREG poate fi rezumată în următoarele fraze:</p>

<ul class="has-text-primary">
  {% for item in page.activitate %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<p class="semibold-primary p-header">Ce ne propunem?</p>
<p class="has-text-weight-semibold">
  1. Formarea unor instituții/administrații puternice la nivel regional
</p>
<p style="text-align: justify;">
  Dezvoltarea regională este un proces care necesită instituții eficace şi
  eficiente, bazate pe o cooperare strânsă între autorități publice, agenți
  economici și grupuri sociale la toate nivelurile. Ne propunem să susținem
  dezvoltarea regională echilibrată a tuturor regiunilor României prin crearea
  unor instituții puternice la nivel regional, județean și local, capabile să
  transforme problemele în oportunități.
</p>
<p style="text-align: justify;">
  Creşterea economică depinde nu doar de investiții, dar şi de administrarea
  eficientă a programelor de dezvoltare, cu respectarea cerințelor față de o
  bună gestionare a resurselor publice. Pentru aceasta este necesar un sistem
  administrativ competent, sigur și transparent.
</p>
<p class="has-text-weight-semibold p-header">
  2. Susținerea procesului de descentralizare regională și a transferului de
  competențe către nivelul regional și local, în special în ceea ce privește
  gestiunea fondurilor europene
</p>
<p style="text-align: justify;">
  Alocarea și managementul resurselor cât mai aproape de nevoile cetățeanului
  este unul din principiile de bază ale UE. Asociația ROREG susține procesul de
  descentralizare către nivelul regional și delegarea unui nivel mai mare al
  responsabilității pentru management şi control financiar către regiuni. Acest
  proces va conduce la simplificarea şi accelerarea procedurilor și la
  dezvoltarea potențialului fiecărei regiuni, orientând resursele spre
  soluționarea celor mai importante nevoi.
</p>
<p class="has-text-weight-semibold p-header">
  3. Promovarea unei abordări inovative la nivel național în gestionarea
  proiectelor cu finanțare europeană
</p>
<p style="text-align: justify;">
  Pe fondul lipsei de îndrumare și de coerență în implementarea fondurilor
  europene de la nivel național, Asociația ROREG își propune să dezvolte măsuri
  de suport inovatoare pentru beneficiarii fondurilor de dezvoltare regională,
  în vederea facilitării accesării și implementării de proiecte cu finanțare
  europeană.
</p>
<p style="text-align: justify;">
  Fiecare Agenție pentru Dezvoltare Regională lucrează în mod curent cu
  beneficiarii de fonduri europene, în diferite etape ale unui proiect,
  acționând fie ca entitate suport, fie ca entitate direct implicată în
  managementul sursei de finanțare. Indiferent de forma de implicare, pe
  parcursul a 20 de ani de experiență a Agențiilor în interacțiunea cu
  beneficiarii, a fost acumulată o bogată experiență la nivelul fiecărei regiuni
  de dezvoltare.
</p>
<p style="text-align: justify;">
  Prin valorizarea și dezvoltarea expertizelor proprii locale și regionale și
  consacrarea unor domenii de bună practică la nivel național în gestionarea
  proiectelor cu finanțare europeană, Asociația ROREG urmărește utilizarea mai
  bună a experiențelor și tehnicilor de management a fondurilor europene și
  simplificarea sistemului de implementare a proiectelor.
</p>
<p style="text-align: justify;">
  Ne dorim ca fondurile europene să ofere o sursă de finanțare stabilă, sigură,
  direcționată, care poate fi utilizată pentru stimularea relansării economice a
  fiecărei regiuni.
</p>
<p class="has-text-weight-semibold p-header">
  4. Colaborarea între regiuni la toate nivelurile
</p>
<p style="text-align: justify;">
  Deşi Asociația ROREG recunoaște diversitatea și specificul fiecărei regiuni de
  dezvoltare, încearcă să valorifice noi oportunități printr-o apropiere mai
  mare a comunităților. Multe probleme nu sunt specifice doar unui singur
  teritoriu şi necesită intervenții comune coordonate.
</p>
<p style="text-align: justify;">
  Asociația ROREG își propune armonizarea sistemelor de comunicare între cele 8
  Agenții și între acestea și alte instituții și organisme naționale și
  internaționale, promovarea unor proiecte de interes comun la nivel
  inter-regional și internațional, realizarea unui schimb permanent de
  informații între regiuni, asigurarea reprezentativității intereselor
  Agențiilor la nivel național și internațional.
</p>
<p style="text-align: justify;">
  Prin această abordare, se urmărește promovarea resurselor și abilităților
  regionale și locale, dezvoltarea unor instrumente comune flexibile și
  inovatoare, transparența în implementarea politicilor și programelor.
</p>

<p class="semibold-primary p-header">Care sunt valorile în care credem?</p>
<ul class="has-text-primary">
  {% for item in page.valori %}
  <li style="text-align: justify;">{{ item[0] }}: <span class="has-text-black">{{ item[1] }}</span></li>
  {% endfor %}
</ul>
