---
tag: ADR Centru
title: Buletinul statistic trimestrial al Regiunii Centru Ediția Nr.3
titleLong: Buletinul statistic trimestrial al Regiunii Centru Ediția Nr.3
filelist:
  R1:
    - title: Buletin de date si informatii statistice nr. 3
      subtitle:
      file: Buletin de date si informatii statistice nr. 3.pdf
---

<p style="text-align: justify;">
	Răspunzând necesităților de informare ale autorităților publice locale, Agenția pentru Dezvoltare Regională Centru continuă, prin publicarea acestui nou număr, seria de buletine de date și informații statistice, dorind să ofere un sprijin tehnic organizațiilor interesate de aceste informații din Regiunea Centru.
</p>

<p style="text-align: justify;">
	Această ediție a Buletinului Statistic Regional al Regiunii Centru include date și indicatori relevanți privind evoluția și nivelul de dezvoltare a Regiunii Centru și a județelor componente, furnizând date în profil regional și județean.
</p>

{% include news-image.html img='/assets/img/poze_stiri/15122020_Buletinul statistic trimestrial al Regiunii Centru Editia nr3.png' description='' %}

<p style="text-align: justify;">
	În acest nou număr, vă prezentăm date statistice despre teritoriu, infrastructura rutieră, activitatea companiilor, fluxul turistic, comerțul exterior, demografie, piața forței de muncă și altele. Chiar dacă este dificilă centralizarea ”în timp real” a datelor statistice, am reușit să surprindem prin câțiva indicatori impactul puternic generat de pandemia  COVID-19 asupra societății și economiei Regiunii Centru.
</p>

<p style="text-align: justify;">
	În edițiile viitoare ale buletinului statistic vom continua prezentarea acestor date și indicatori, incluzând și alte noutăți statistice.
</p>

<p>
    {% include docs-list.html list=page.filelist.R1 %}
</p>

<br >

<p>
	<span class="has-text-weight-semibold">Sursă foto și text: ADR Centru</span>
</p>