---
tag: ADR Nord Est
title: Sprijin Regio pentru Centrul de Simulare „Prof. Dr. Cristian Dragomir”
titleLong: Centrul de Simulare „Prof. Dr. Cristian Dragomir” din cadrul Universitatea de Medicină și Farmacie Grigore T. Popa Iași va fi în curând operațional cu sprijinul &num;REGIO
---
<p style="text-align: justify;">
  Proiectul “Investiţii în infrastructura de învăţământ din cadrul UMF Iaşi – Centrul de Simulare”, cu o valoare totală de 7,06 milioane euro, din care 4,58 milioane euro finanțare nerambursabilă prin Axa 10 a Programului Operațional Regional 2014-2020 va fi gata la finalul 2021.
</p>
<p style="text-align: justify;">
  Investiția vizează finalizarea lucrărilor de construcții și instalații executate asupra corpului A al imobilului situat in Str. Mihail Kogălniceanu nr 9-13, dar și dotarea infrastructurii cu 14 echipamente de simulare și platforme software, necesare integrării în procesul de formare a studenților UMF Iași.
</p>

<p style="text-align: justify;">
  În cadrul centrului, studenții, rezidenții, specialiștii, cercetătorii științifici și asistenții medicali vor avea ocazia de a dobândi și exersa aptitudini tehnice medicale, clinice sau chirurgicale și de a acționa într-un mediu realist, cu multiple cazuri clinice.
  Pentru fiecare disciplină, vor fi dotări cu simulatoare specifice pentru dezvoltarea abilităților de bază sau avansate, simulatoare hibride sau de înaltă fidelitate, simulatoare tip VR, haptice (comunicare kinaestezica sau atingere 3D), platforme software virtuale, simulatoare tip manechin, interactive, controlate wireless.
</p>
<p style="text-align: justify;">
  Prezent la conferința de lansare a evenimentului, alături de prof. univ. dr. Viorel Scripcariu, Vasile Asandei, Directorul ADR Nord-Est s-a arătat încântat de pragmatismul investiției și încrezător în inițiative similare care să conducă la modernizarea reală a învățământului superior din România, un domeniu cu care #NEmândrim.
</p>

{% include news-image.html img='/assets/img/poze_stiri/18092020_1.jpg' description='' %}
{% include news-image.html img='/assets/img/poze_stiri/18092020_3.jpg' description='' %}

<p style="text-align: justify;">
  Sursă informații: ADR Nord Est
  Sursă foto: UMF Iași
</p>