---
tag: Comisia Europeană
title: Comisia Europeană a prezentat „Strategia pentru o mobilitate sustenabilă și inteligentă”
titleLong: Comisia Europeană a prezentat „Strategia pentru o mobilitate sustenabilă și inteligentă”
filelist:
  R1:
    - title: Strategia pentru o mobilitate sustenabilă și inteligentă
      subtitle: Click pentru a descărca
      file: Strategia pentru o mobilitate sustenabila si inteligenta.pdf
---

<p style="text-align: justify;">
	Comisia Europeană şi-a prezentat <span style="font-style: italic;">„<span class="has-text-weight-semibold">Strategia pentru o mobilitate sustenabilă și inteligentă</span>”</span>. Această strategie este însoțită de un plan de acțiune care cuprinde 82 de inițiative şi pune bazele procesului prin care sistemul de transport al Uniunii Europene își poate realiza transformarea verde și digitală și poate deveni mai rezilient în fața viitoarelor crize.
</p>

<p style="text-align: justify;">
	Prin trecerea la un sistem de transport inteligent, competitiv, sigur şi accesibil, se va ajunge la reducerea cu 90% a emisiilor până în 2050 – aceasta este ţinta asumată prin <span style="font-style: italic;" class="has-text-weight-semibold">Pactul verde european</span>.
</p>

<p style="text-align: justify;">
	<span style="font-style: italic;">„Toate modurile de transport trebuie să devină mai sustenabile, cu alternative verzi disponibile pe scară largă și cu stimulente adecvate puse în aplicare pentru a încuraja tranziția. Stabilirea unor etape concrete va menține sistemul european de transport pe traiectoria către un viitor inteligent și sustenabil”</span>, explică reprezentanţii Comsiei Europen în România. Se propun trei etape, având ca orizont de timp anii 2030, 2035 şi 2050.
</p>

<p style="text-align: justify;">
	Astfel, obiectivele asumate până în 2030 sunt:

	<ul>
		<li>cel puțin 30 de milioane de autoturisme cu emisii zero în exploatare pe drumurile europene;</li>
		<li>100 de orașe europene vor fi neutre din punct de vedere climatic;</li>
		<li>dubarea traficului feroviar de mare viteză la nivelul întregii Europe;</li>
		<li>călătorii colective pentru deplasări pe o lungime sub 500 de km - neutre din punctul de vedere al carbonului;</li>
		<li>mobilitate automatizată implementată la scară largă;</li>
		<li>nave maritime cu emisii zero pregătite pentru lansarea pe piață.</li>
	</ul>
</p>

{% include news-image.html img='/assets/img/poze_stiri/16122020_strategie_mob_sustenabila.png' description='' %}

<p style="text-align: justify;">
	<span style="font-style: italic;">„Strategia propusă astăzi va schimba modul în care persoanele și mărfurile circulă în Europa și va facilita combinarea mai multor moduri de transport în cadrul unei singure călătorii”</span>, precizează Frans Timmermans, vicepreședintele executiv pentru Pactul verde european.
</p>

<p style="text-align: justify;">
	Mai multe informaţii despre:

	<ul>
		<li style="font-style: italic;">„<a href="https://ec.europa.eu/romania/news/20201209_Strategia_pentru_o_mobilitate_sustenabila_si_inteligenta_ro" class="has-text-weight-semibold" target="_blank">Strategia pentru o mobilitate sustenabilă și inteligentă</a>”
		</li>
		<li style="font-style: italic;">„<a href="https://ec.europa.eu/info/strategy/priorities-2019-2024/european-green-deal_ro" class="has-text-weight-semibold" target="_blank">Pactul verde european</a>”
		</li>
	</ul>
</p>

<br />

<p style="text-align: justify;">
	<span class="has-text-weight-semibold">Strategia pentru o mobilitate sustenabilă și inteligentă</span>

	<p style="margin-top: -20px;">
		{% include docs-list.html list=page.filelist.R1 %}
	</p>
</p>

<br />

<p style="text-align: justify;">
	<span class="has-text-weight-semibold">Sursă foto și text: Comisia Europeană</span>
</p>