---
tag: ADR Nord-Est
title: A fost semnat Contractul de grant prin care va fi reabilitată Bojdeuca lui Creangă, de la Iasi
titleLong: A fost semnat Contractul de grant prin care va fi reabilitată Bojdeuca lui Creangă, de la Iasi
---

<p>
    Recent, a fost semnat contractul de finantare nerambursabilă prin care va fi restaurată Bojdeuca lui Creangă, unul din obiectivele proiectului
    "Călător pe meridiane culturale"/ ”Traveller on Cultural Meridians”, derulat în cadrul Programului Operațional Comun România – Republica Moldova
    2014-2020 și finanțat prin Instrumentul European de Vecinatate (ENI CBC). Acest instrument se adreseaza zonei aflate la frontiera dintre cele doua
    state.
</p>

<p>
    “Bojdeuca Ion Creangă”, de pe dealul Ticăului, din Iasi, a fost primul muzeu memorial de literatură din Romania, inaugurat la 15 aprilie 1918.
    Insusi Ion Creangă o numea “Bojdeuca de casută”
    <a href="https://culturainiasi.ro/bojdeuca-lui-ion-creanga/" target="_blank">https://culturainiasi.ro/bojdeuca-lui-ion-creanga/</a>.
</p>

{% include news-image.html img='/assets/img/poze_stiri/06082021_adrne_front.jpg' description='' %}

<p>Programul comun de finantare prevede acțiuni de cooperare transfrontalieră în beneficiul statelor membre ale UE care se învecinează.</p>

<p>
    ”Călător pe Meridiane Culturale” este implementat de Consiliul Județean Iași, în calitate de Lider de proiect, și de Consiliul Raional Fălești și
    Primăria Orașului Fălești, din Republica Moldova, în calitate de parteneri.
</p>

<p>
    Obiectivul general al proiectului îl reprezintă valorificarea durabilă a patrimoniului cultural, ca factor de impulsionare a dezvoltării locale.
</p>

<p>Bugetul total al proiectului este de 1.724.351,65 euro, din care, 1.500.000 euro reprezintă finanțare nerambursabilă.</p>

{% include news-image.html img='/assets/img/poze_stiri/06082021_adrne.jpg' description='' %}

<p>Prin proiect se vor realiza:</p>

<ul>
    <li>Restaurarea Ansamblului Muzeal “Ion Creangă” Iași - Județul Iași;</li>
    <li>Restaurarea, reabilitarea drumului istoric de acces din pavaj de granit „Ștefan cel Mare” din orașul Fălești;</li>
    <li>Reabilitarea Muzeului de Istorie și Etnografie „Lazăr Dubinovschi” din orașul Fălești.</li>
</ul>

<p>
    Perioada de implementare a proiectului este de 24 de luni (cel mai târziu pana la 31 decembrie 2023). În această perioadă, la Iasi, vor fi
    executate lucrări de restaurare și securizare a bojdeucii, lucrări de reabilitare și modernizare a clădirii muzeului, refacerea amfiteatrului și
    circulațiilor pietonale din incintă, reamenajarea spațiului verde și refacerea sistemului de iluminat.
</p>

<br />

<p class="has-text-weight-semibold">Sursă foto și text: ADR Nord-Est</p>
