---
tag: ROREG
title: Conferință internațională “Valorile europene în regiunile din România“
titleLong: Conferință internațională “Valorile europene în regiunile din România“
---

<p>
    Care este viitorul regiunilor din România? Care sunt direcțiile UE în ceea ce privește oportunitățile de finanțare din fonduri europene pentru
    dezvoltare regională în perioada 2021-2027? Ce pot face autoritățile publice locale pentru creșterea calității vieții locuitorilor lor?
</p>

<p>
    Acestea sunt doar câteva dintre întrebările la care vom încerca să generăm răspunsuri în 28 septembrie, începând cu ora 10:00, în cadrul
    conferinței internaționale “Valorile europene în regiunile din România“, organizată de Asociația Agențiilor pentru Dezvoltare Regională din
    România – ROREG.
</p>

<p>
    Conferința deschide seria de evenimente dedicate schimbului de experiență și expertiză la nivelul autorităților publice din România, astfel încât
    orașele să facă față provocărilor și oportunităților într-un mod strategic, sustenabil și în beneficiul cetățenilor.
</p>

{% include news-image.html img='/assets/img/poze_stiri/22092021_roreg.png' description=''%}

<p>
    Din partea Comisiei Europene va participa doamna Elisa FERREIRA, Comisar European pentru Coeziune și Reforme. Conferința reunește numeroși experți
    internaționali ai Comisiei Europene, Băncii Mondiale și experți naționali din partea Agențiilor pentru Dezvoltare Regională, Ministerului
    Investițiilor și Fondurilor Europene, Ministerului Dezvoltării, Lucrărilor Publice şi Administraţiei.
</p>

<p>
    Programul conferinței cuprinde prezentări, dezbateri și 4 sesiuni tematice: Regiuni verzi, Instrumente de dezvoltare urbană, Regiuni inovatoare și
    Dezvoltarea capacității administrative la nivel regional.
</p>

<p>
    Agenda completă a conferinței, care include și invitații prezenți la eveniment, poate fi consultată aici:
    <a href="https://www.roreg.eu/assets/files/downloads/agenda_28-09.pdf" target="_blank"
        >https://www.roreg.eu/assets/files/downloads/agenda_28-09.pdf</a
    >.
</p>

<p>
    Conferința se adresează factorilor de decizie și personalului tehnic care gestionează și implementează proiecte finanțate prin fonduri europene,
    din cadrul autorităților publice locale. Totodată, participarea este deschisă tuturor persoanelor interesate de tematicile discutate, care doresc
    să asculte, să găsească inspirație și să interacționeze cu experții invitați.
</p>

<p>
    Conferința se va desfășura online, pe platforma MyConnector. Participarea este gratuită, însă este necesară înscrierea aici:
    <a href="https://bit.ly/39o1kqD" target="_blank">https://bit.ly/39o1kqD</a>.
</p>

<p>Evenimentul se va desfășura în limbile română și engleză și va beneficia de traducere, acolo unde este cazul.</p>

<p>
    Pentru informaţii suplimentare, nu ezitați să ne contactaţi: telefon: 0356-829528, e-mail: <a href="mailto:office@roreg.eu">office@roreg.eu</a>.
</p>

<p>
    Asociația Agențiilor pentru Dezvoltare Regională din România – Asociația ROREG reprezintă un organism neguvernamental, creat în anul 2005, care
    reunește cele 8 Agenții pentru Dezvoltare Regională din România. Scopul Asociației ROREG este de a reprezenta interesele membrilor săi la nivel
    național, cât și la nivel internațional, în vederea sprijinirii dezvoltării lor instituționale și a promovării unei abordări comune și unitare în
    ceea ce privește dezvoltarea regională și implementarea programelor cu finanțare europeană.
</p>

<p>
    Conferința are loc în cadrul proiectului
    <em
        >”Sprijin pentru eficientizarea gestionării și implementării FESI la nivelul autorităților publice locale de la nivelul orașelor, municipiilor
        și județelor din România”</em
    >, cofinanțat din Fondul European pentru Dezvoltare Regională prin Programul Operațional Asistență Tehnică (POAT) 2014-2020.
</p>

<p>
    Prezentările PowerPoint din cadrul
    <span class="has-text-weight-semibold">Conferință internațională “Valorile europene în regiunile din România“</span> se pot descărca
    <a href="https://www.roreg.eu/assets/files/downloads/Arhiva_conferinta_28092021.zip" download>aici</a>.
</p>

<div>
    <div style="display: flex">{% include videoCN.html %}</div>
</div>

<br /><br />
<p class="has-text-weight-semibold">Sursă foto și text: Asociația ROREG</p>
