---
tag: ADR Sud-Vest Oltenia
title: Buletinul regional Sud-Vest Oltenia Nr.1 - Ianuarie 2021
titleLong: Buletinul regional Sud-Vest Oltenia Nr.1 - Ianuarie 2021
filelist:
  R1:
    - title: Buletin regional ADR SV Oltenia ianuarie 2021
      subtitle: Click pentru a descărca
      file: Buletin regional ADR SV Oltenia ianuarie 2021.pdf
---

<p>
	<em>„Am realizat această publicație regională cu scopul de a informa periodic cititorii cu privire la activitatea ADR Sud-Vest Oltenia. Dorim, astfel, să le oferim atât beneficiarilor și potențialilor beneficiari ai Programului Operațional Regional (POR), cât și oricăror altor persoane interesate, informații utile și de actualitate.</em>
</p>

<p>
	<em>În acest număr al buletinului regional, puteți afla detalii despre proiectele derulate de autoritățile publice din regiune în beneficiul cetățenilor, grație finanțărilor nerambursabile oferite prin POR, informații despre conceptul Smart City, care este stadiul implementării POR 2014-2020 în Regiunea Sud-Vest Oltenia sau care sunt ultimele instrucțiuni emise de Autoritatea de Management pentru POR.</em>
</p>

{% include news-image.html img='/assets/img/poze_stiri/04022021_adrsvoltenia.jpg' description='' %}

<p>
	<em>În plus, pentru că mediul de afaceri a fost mereu o prioritate pentru noi, am inclus în acest newsletter și informații privind oportunitățile de internaționalizare și dezvoltare a IMM-urilor, oportunități existente în cadrul Rețelei Enterprise Europe Network (EEN).</em>
</p>

<p>
	<em>Dorim, de asemenea, să venim în sprijinul celor interesați să obțină finanțări nerambursabile. Astfel, edităm lunar cataloage care prezintă programele active finanțate de Uniunea Europeană și Guvernul României. Aceste publicații online pe site-ul instituției sunt destinate societăților comerciale, autorităților publice, universităților și organizațiilor neguvernamentale.</em>
</p>



<p>
	<em>Pentru că ne aflăm la începutul unui nou an, dorim să le mulțumim pentru buna colaborare tuturor partenerilor noștri și să le promitem că vom continua să îi sprijinim, mai ales în această perioadă dificilă, caracterizată de provocări și incertitudini. Dorim să îi asigurăm pe beneficiari și pe potențialii beneficiari ai POR că vor găsi în noi un partener de nădejde și că activitatea noastră se va concentra în continuare pe susținerea și informarea lor corectă, punctuală și constantă.“</em>  a declarat doamna Marilena Bogheanu, Directorul General al ADR Sud-Vest Oltenia.
</p>

<br />

<p style="text-align: justify;">
	<span class="has-text-weight-semibold">Buletin regional ADR SV Oltenia ianuarie 2021</span>

	<p style="margin-top: -20px;">
		{% include docs-list.html list=page.filelist.R1 %}
	</p>
</p>


<br />

<p>
	<span class="has-text-weight-semibold">Sursă foto și text: ADR Sud-Vest Oltenia</span>
</p>