---
tag: ADR Nord-Est
title: MODERNIZAREA CENTRULUI CULTURAL NEMIRA, Darmanesti, judetul Bacau Regiunea Nord Est
titleLong: MODERNIZAREA CENTRULUI CULTURAL NEMIRA, Darmanesti, judetul Bacau Regiunea Nord Est
---

<p>Pentru locuitorii orasului, indeosebi pentru tineri, dar nu numai pentru ei, Primăria Orașului Dărmăneşti, din judetul Bacău, a folosit oportunitatea de finanțare oferită de Programul Operațional Regional 2014-2020 (prin Prioritatea 13.1 ce vizează îmbunătățirea calității vieții populației în orașele mici și mijlocii) in scopul creării de spații de petrecere a timpului liber, atractive și ofertante. </p>

{%include news-image.html img='/assets/img/poze_stiri/14062021_adrne1.jpg' description='' %}

<p>Cel mai recent contract de finantare Regio din Regiunea Nord Est, semnat pentru proiectul „MODERNIZAREA CENTRULUI CULTURAL NEMIRA”, în valoare totală de 10,6 milioane lei, din care, suma de aproximativ 10,3 milioane lei reprezintă finanțarea nerambursabilă din cadrul programului, este orientat către cultură, vizand dezvoltarea personală a copiilor și tinerilor.</p>

<p>Prin intermediul proiectului se va crea un spațiu adecvat in scopul cunoașterii și păstrării valorilor de patrimoniu, a istoriei culturale a zonei , precum și asigurarea unor condiții propice pentru desfășurarea de evenimente cu caracter cultural și de divertisment.</p>

{%include news-image.html img='/assets/img/poze_stiri/14062021_adrne2.jpg' description='' %}

<p>Prin măsurile de intervenție propuse (anveloparea clădirii, instalații de încălzire, ventilații cu recuperare de căldură, sisteme eficiente de iluminat) și prin asigurarea dotărilor specifice, spațiul respectiv, de peste 1000 mp, va fi atractiv pentru toti locuitorii orașului Dărmănești, cat și pentru vizitatori și turisti.</p>

<br>

<p class="has-text-weight-semibold">Sursă foto și text: ADR Nord-Est</p>