---
tag: ADR Nord-Est
title: Iași - orașul tramvaielor pictate
titleLong: Iași - orașul tramvaielor pictate
---

<p>
	La doi ani și jumătate de la lansare, Tramvaiul Coworking, cel de-al unsprezecelea mijloc de transport public personalizat tematic în cadrul proiectului cultural „Iași - orașul tramvaielor pictate” a avut parte de un „update” estetic. „Tramvaiul Coworking 2.0” readuce în prim-plan conceptul <a href="https://www.youtube.com/hashtag/coworking" target="_blank">#coworking</a> printr-o compoziție geometrică supradimensionată, ce face trimitere la extinderea mișcării prin înființarea de noi centre atât în Iași, cât și la nivel național. Tramvaiul Coworking 2.0 devine prima lucrare de tip <a href="https://www.youtube.com/hashtag/supergraphics" target="_blank">#Supergraphics</a> în mișcare din România. 
</p>

{% include news-image.html img='/assets/img/poze_stiri/12022021_adrne_iasi_front.jpg' description='' %}

<p>
	Sâmbătă, 6 februarie, la 12:30, a fost lansat la Iași, Tramvaiul de Coworking 2.0, alături de prietenii <a href="https://www.facebook.com/hashtag/fablab?source=feed_text&epa=HASHTAG&__xts__[0]=68.ARDEeOScyp50kfaOFNhE__vQs9UyC0sRN_dvHKyh_8UBgS0BsvtW-aEMQ_ZC23wmEBVJVVJQXYt057EO7eOFh1s2WyG_pNOo_Q7Q0ezsBY6qhxjBJBPRtHP3eyE4OB0sPgcECOHEI6KTJtExaDZ5nDXa88s-m2nw-_dqL2oiwJXEjjYlD_1l3sdUDe3SWxnTJH1u07X7RmPwY76nLaSgeZfOV5pc9qOxUN7U0b-qUhZFQOmOJUDGZgVpUjkpSfXo3xCsn1lfkIgEWwZvxcHsEe6kFcotzIUMB-IXKxdqjoWrauT8qA9uUA" target="_blank">#FabLab</a>. Cei interesați au fost invitați sa scrie mesajele lor direct pe tramvai.
</p>

<p>
	Puteți vedea și afla mai multe despre această etapă a proiectului, vizionând videoclip-ul "how was made" <a href="https://youtu.be/PHXHIJiHqGk" target="_blank">https://youtu.be/PHXHIJiHqGk</a> .
</p>

<p>
	Proiectul a fost realizat de Asociația Tramclub Iași, în parteneriat cu <a href="https://www.youtube.com/hashtag/fablabiasi" target="_blank">#FabLabIasi</a>, George BCR, cu sprijinul Companiei de Transport Public Iași, al Universității Naționale de Arte „George Enescu” Iași și al Fabricii de vopsele National Paints.
</p>

	{% include news-image.html img='/assets/img/poze_stiri/12022021_adrne_iasi_news.jpg' description='' %}


<p>
	<span class="has-text-weight-semibold">Realizatori:</span> Diana Elena BĂCIOIU, Alexandru Cristian BĂLTEANU, Andreea SOFRONE, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspClaudiu Georgian STAN
	<br /><span class="has-text-weight-semibold">Grafică:</span> Arhitect Tiberiu Teodor-Stanciu
	<br /><span class="has-text-weight-semibold">Coordonare:</span> Designer Silviu TEODOR-STANCIU
</p>

<br />

<p>
	<span class="has-text-weight-semibold">Sursă foto și text: Primaria Iași, via ADR Nord Est</span>
</p>