---
tag: ADR Sud-Vest Oltenia
title: Buletinul regional Sud-Vest Oltenia Nr.2/Februarie 2021
titleLong: Buletinul regional Sud-Vest Oltenia Nr.2/Februarie 2021
filelist:
    R1:
        - title: Buletinul regional Sud-Vest Oltenia Nr.2/Februarie 2021 
          subtitle: Click pentru a descărca
          file: PE_75_2020_INIT_ro.pdf
---

<p>ADR Sud-Vest Oltenia a elaborat buletinul regional nr. 2.<br />
    In cuprinsul buletinului puteti gasi informatii relevante privind implementarea POR 2014-2020 precum:
</p>

<ol style="margin-left: 17px;">
    <li class="has-text-weight-semibold"><p>
        Contracte de finanțare semnate de autoritățile publice:
    </p></li>
    <ul>
        <li>Centrul multifuncțional și zonă de agrement în Balș, prin POR 2014-2020 - Orașul Balș va beneficia de un centru multifuncțional destinat organizării de evenimente și festivități culturale și recreative, precum și de amenajarea unui spațiu public în aer liber, care include zona de agrement „Balta Gării“ și drumul de acces – strada Nufărului.</li>
        <li>Sală de sport și amfiteatru, cu bani europeni, la Școala Gimnazială „Constantin Săvoiu“ din Târgu Jiu - Școala Gimnazială „Constantin Săvoiu“ va fi reabilitată și va avea un nou corp de clădire, care va include o sală de sport și un amfiteatru.</li>
        <li>Rovinari: Proiect în valoare de 11,2 milioane de lei, pentru locuințe sociale și amenajarea zonei pietonale - Primăria Rovinari continuă seria investițiilor prin Programul Operațional Regional (POR) 2014-2020. Noul proiect include două componente: una socială, care prevede construirea unui bloc de locuințe sociale, și una de infrastructură publică urbană, care vizează amenajarea zonei pietonale din centrul orașului.</li>
        <li>Drăgășani: Străzi reabilitate și grădinițe modernizate, prin POR 2014-2020 - Orașul vâlcean Drăgășani va beneficia de reabilitarea mai multor străzi și alei, precum și de modernizarea unor grădinițe, prin accesarea de fonduri europene în cadrul Programului Operațional Regional (POR) 2014-2020. Valoarea proiectului integrat se ridică la 15 milioane de lei.</li>
    </ul>
    
    <li class="has-text-weight-semibold"><p>
        POR 2014-2020, la bilanț – Proiecte implementate de:
    </p></li>
    
    <ul>
        <li>Infrastructura județului Gorj, în plină modernizare, prin POR 2014-2020 </li>
        <li>53,7 milioane de euro pentru orașul lui Brâncuși, prin POR 2014-2020</li>
        <li>Drumurile și sănătatea, prioritățile Consiliului Județean Mehedinți</li>
        <li>Drobeta-Turnu Severin, tot mai verde, cu bani europeni</li>
        <li>366,8 milioane de lei, prin POR 2014-2020, pentru dezvoltarea județului Vâlcea</li>
        <li>346,3 milioane de lei pentru municipiul Râmnicu Vâlcea, prin POR 2014-2020</li>
        <li>Investiții cu bani europeni în județul Olt, prin POR 2014-2020</li>
        <li>Proiectele pe mobilitate, o prioritate în Slatina</li>
    </ul>
    
    <li class="has-text-weight-semibold"><p>Stadiul implementării POR 2014-2020 în Regiunea Sud-Vest Oltenia</p></li>
    <li class="has-text-weight-semibold"><p>Instrucțiuni emise de Autoritatea de Management pentru POR 2014-2020</p></li>
    <li class="has-text-weight-semibold"><p>Oltenia, Spre Viitor cu REGIO</p></li>
    <li class="has-text-weight-semibold"><p>Consultări cu municipiile reședință de județ în contextul elaborării noului Program Operațional Regional Sud-Vest Oltenia 2021-2027</p></li>
    <li class="has-text-weight-semibold"><p>Strategia Regională pentru Specializare Inteligentă RIS3 Sud-Vest Oltenia 2021-2027</p></li>
    <li class="has-text-weight-semibold"><p>Cataloagele surselor de finanțare</p></li>
    <li class="has-text-weight-semibold"><p>Enterprise Europe Network - oportunități de dezvoltare pentru IMM-uri</p></li>
    <li class="has-text-weight-semibold"><p>Povestea lunii februarie</p></li>
</ol>

{% include news-image.html img='/assets/img/poze_stiri/12032021_oltenia.jpg' description='' %}

<p style="text-align: justify;">
	<span class="has-text-weight-semibold" style="font-size: 14px">Mai jos se regăsește buletinul lunii februarie în format .pdf</span>

	<p style="margin-top: -20px;">
		{% include docs-list.html list=page.filelist.R1 %}
	</p>
</p>

<br>

<p>
    <span class="has-text-weight-semibold">Sursă foto și text: ADR Sud-Vest Oltenia</span>
</p>