---
tag: ADR Nord-Est
title: Casa Muzeelor, spațiu cultural unic în Iași
titleLong: Casa Muzeelor, spațiu cultural unic în Iași
---

<p>Proiectul Consiliului Județean Iași, de consolidare, refuncționalizare și mansardare a Muzeului Național al
    Literaturii Române Iași, clădire-monument istoric, s-a finalizat, fiind creată o “Casă a Muzeelor”, concept si
    spatiu unic in Iasi si nu numai. Finanțarea, în valoare de 16,6 milioane de lei, a fost asigurată din Fondul
    European de Dezvoltare Regională și de la bugetul de stat, prin Programul Operațional Regional 2014-2020. Perioada
    de implementare a proiectului, realizat cu sprijinul Agenției pentru Dezvoltare Regională Nord-Est, a fost de 65 de
    luni.</p>

<p>Evenimentul, marcat prin prezenta a numeroase personalităti, a avut loc in data de 22 iulie.</p>

{% include news-image.html img='/assets/img/poze_stiri/28072021_adrne1.jpg' description='' %}

<p>Edificiul a fost preluat de Muzeul Național al Literaturii Române din Iași (MNLR), instituție de cultură din
    subordinea Consiliului Județean. În clădirea redată patrimoniului cultural românesc vor funcționa încă cinci muzee
    permanente: Muzeul Pogromului de la Iași, Muzeul Teatrului Evreiesc în România, Muzeul Poezie(i), Muzeul Copilăriei
    în Comunism și Muzeul Literaturii Române.</p>

{% include news-image.html img='/assets/img/poze_stiri/28072021_adrne2.jpg' description='' %}

<p>Prin acest proiect, au fost amenajate numeroase săli-muzee si încăperi cu functionalităti multiple:</p>

<ul>
    <li>Demisol, 2 săli-muzee si 11 încăperi pentru folosintă publică, administrativă sau multifunctionale</li>
    <li>Parter: 19 săli-muzee si 11 încăperi pentru folosinta publica, administrativă sau multifunctionale</li>
    <li>Etajul 1: 16 săli-muzee si 13 încăperi pentru folosinta publica, administrativă sau multifunctionale</li>
    <li>Mansarda: 5 săli-muzee si 18 încăperi pentru folosinta publica, administrativă sau multifunctionale</li>
</ul>

{% include news-image.html img='/assets/img/poze_stiri/28072021_adrne3.jpg' description='' %}

<p>“Ne aflăm în clădirea în care a funcționat sediul revistei Viaţa Românească şi al fostei Chesturi de Poliție Iași, un
    loc prin care istoria ne vorbește încă despre moștenirea literară pe care ne-au lăsat-o marii scriitori români, dar,
    din păcate, și despre trauma istorică a momentului în care, acum 80 de ani, au fost uciși mii de evrei, în una
    dintre cele mai triste perioade din trecutul Iașului. Începând de astăzi, această frumoasă clădire deschide o poartă
    către lumea artelor și istoriei, prin cele cinci muzee pe care le va găzdui. A fost readusă la viață frumusețea
    acestei bijuterii arhitecturale din inima Iașului, iar circuitul turistic județean, regional și chiar national, s-a
    îmbogățit prin acest complex muzeal unic. Țin să le mulțumesc tuturor celor care, de-a lungul timpului s-au implicat
    în refuncționalizarea acestui obiectiv”, a declarat președintele Consiliului Județean, Costel Alexe.</p>

{% include news-image.html img='/assets/img/poze_stiri/28072021_adrne4.jpg' description='' %}

<p>„Pentru mine este un moment de bucurie, pentru că, după multe eforturi și după munca multor colegi de la Agenția
    pentru Dezvoltare Regională, de la Consiliul Județean (Iasi), de la Casa Muzeelor, ajungem în această zi, când vedem
    realizat un obiectiv de o asemenea anvergură. Sunt foarte încântat că Moldova se transformă prin investițiile făcute
    prin Programul Operațional Regional. Numeroase monumente istorice, obiective de interes social, cultural, economic
    au căpătat viață și sunt exemple de proiecte de succes la nivel național și nu numai”, a afirmat Vasile Asandei,
    director general ADR Nord Est.</p>

{% include news-image.html img='/assets/img/poze_stiri/28072021_adrne5.jpg' description='' %}

<p>“Este un moment extrem de important pentru Muzeul Național al Literaturii Române Iași pentru că instituția noastră,
    încă de la înființarea ei ca entitate distinctă, s-a dezvoltat permanent cu expoziții, cu evenimente. A crescut
    organic, dar acum se face un salt brusc de la 12 muzee, la 17, pentru că se adaugă cele cinci inaugurate astăzi.
    Mulțumesc Consiliului Județean Iași, care ne-a fost foarte aproape în ultimii ani, ne-a ajutat foarte mult, atât la
    nivel de colaborare cât și prin finanțare”, a declarat directorul Muzeului National al Literaturii Române Iași,
    Lucian Dan Teodorovici.</p>

<br>

<p class="has-text-weight-semibold">Sursă foto și text: ADR Nord Est, Consiliul Judetean Iasi si Muzeul National al
    Literaturii Române Iasi</p>