---
tag: ADR Sud-Est
title: Servicii sociale si recreative integrate in cadrul unui proiect cu finantare europeana
titleLong: Servicii sociale si recreative integrate in cadrul unui proiect cu finantare europeana
---

<p>Proiectul cu titlul „Construire Centru Cultural pentru tineret si modernizare strazi, etapa a III-a, in orasul Insuratei, judetul Braila”, SMIS 126675 a fost aprobat in cadrul Programului Operational Regional 2014-2020, Axa prioritara 13 ”Sprijinirea regenerarii oraselor mici si mijlocii”, Prioritatea de investitii 9.b ”Oferirea de sprijin pentru revitalizarea fizica, economica si sociala a comunitatilor defavorizate din regiunile urbane si rurale”, Obiectivul specific: 13.1 – “Imbunatatirea calitatii vietii populatiei in orasele mici si mijlocii din Romania, din cadrul Programului Operational Regional (POR) 2014-2020”.</p>

<p>Contractul de finantare a fost semnat intre Ministerul Dezvoltarii, Lucrarilor Publice si Administratiei, in calitate de Autoritate de Management pentru POR 2014-2020, Agentia pentru Dezvoltare Regionala Sud-Est, in calitate de Organism Intermediar si UAT Oras Insuratei, in calitate de Beneficiar.</p>

{% include news-image.html img='/assets/img/poze_stiri/23062021_adrse_news1.jpg' description='' %}

<p>Obiectivul general al proiectului este imbunatatirea serviciilor sociale si recreative integrate prin imbunatatirea spatiilor publice urbane din orasul Insuratei.</p>

<p>
    <p>Interventiile vizate in cadrul proiectului vor fi realizate pe o perioada de 31 luni de la semnarea contractului de finantare si constau in:</p>
    <ul>
        <li>Construirea unui centru cultural pentru tineret (cu o suprafata construita de 1475 mp, capacitate: 400 locuri, prevazut cu un foisor de 83 mp si un teren de sport de 1054 mp) care va asigura persoanelor tinere conditii optime de formare si dezvoltare in afara programelor educationale obligatorii, precum si stimularea creativitatii si interactiunii directe;</li>
        <li>Modernizarea a 16 strazi, cu o lungime totala de 13,287 km (lucrari prevazute: scarificarea si reprofilarea pietruirii existente, modernizarea structurii rutiere, executarea podetelor la intersectii, lucrari de semnalizare rutiera si siguranta circulatiei).</li>
    </ul>
</p>

{% include news-image.html img='/assets/img/poze_stiri/23062021_adrse_news2.jpg' description='' %}

<p>
    <p>Beneficiarii directi ai investitiei propuse sunt:</p>
    <ul>
        <li>77 tineri care vor beneficia de  programele de formare si dezvoltare oferite in cadrul Centrului;</li>
        <li>Aproximativ 6500 locuitori ai orasului Insuratei.</li>
    </ul>
</p>

<br>

<p class="has-text-weight-semibold">Sursă foto și text: ADR Sud-Est</p>