---
tag: Asociația ROREG
title: Anunț participare pentru atribuirea contractului de Servicii organizare Conferința națională „Spiritul European în Regiunile din România
titleLong: Anunț participare pentru atribuirea contractului de Servicii organizare Conferința națională „Spiritul European în Regiunile din România
filelist:
    R1:
        - title: Formulare - conferinta nationala
          subtitle: Click pentru a descărca
          file: Formulare - conferinta nationala 1.docx
        - title: Clauze contractuale - conferinta nationala
          subtitle: Click pentru a descărca
          file: Clauze contractuale - conferinta nationala 1.doc
        - title: Caiet de sarcini doar conferinta nationala online
          subtitle: Click pentru a descărca
          file: Caiet de sarcini doar conferinta nationala online 1.pdf
        - title: ANUNŢ DE PARTICIPARE - servicii organizare eveniment conferinta nationala
          subtitle: Click pentru a descărca
          file: ANUNT DE PARTICIPARE - servicii organizare eveniment conferinta nationala.pdf
---

<p>
    Asociația ROREG lansează procedura pentru atribuirea contractului de Servicii organizare Conferința națională „Spiritul European în Regiunile din
    România”, derulată în conformitate cu prevederile Procedurii proprii simplificate pentru servicii din categoria celor incluse în Anexa 2 a Legii
    nr.98/2016.
</p>

{% include news-image.html img='/assets/img/poze_stiri/13092021_proiectRoreg.png' description='' %}

<p>Data limită de depunere a ofertelor: 16.09.2021, ora 17.00.</p>

<br>

<p>Documentatia de atribuire poate fi accesată mai jos:</p>

<p>
    <p style="margin-top: -20px;">{% include docs-list.html list=page.filelist.R1 %}</p>
</p>


<p class="has-text-weight-semibold">Sursă foto și text: Asociația ROREG</p>