---
tag: ADR Sud-Est
title: Reabilitare energetică a unui Centru Școlar pentru Educație Incluzivă din Municipiul Focșani, județul Vrancea, cu sprijinul Uniunii Europene
titleLong: Reabilitare energetică a unui Centru Școlar pentru Educație Incluzivă din Municipiul Focșani, județul Vrancea, cu sprijinul Uniunii Europene
---

<p>
    În cadrul Programului Operațional Regional 2014-2020, Axa prioritară 3 ”Sprijinirea tranziției către o economie cu emisii scăzute de carbon”,
    Prioritatea de investiții 3.1 ”Sprijinirea eficienței energetice, a gestionării inteligente a energiei și a utilizării energiei din surse
    regenerabile în infrastructurile publice, inclusiv în clădirile publice și în sectorul locuințelor”, Unitatea Administrativ Teritoriala Județul
    Vrancea propune reabilitarea energetică și realizarea unor măsuri conexe a clădirii Centrului Școlar pentru Educație Incluzivă Elena Doamna din
    municipiul Focșani.
</p>

{% include news-image.html img='/assets/img/poze_stiri/02082021_adrse_front.jpg' description='' %}

<p>
    Contractul de finanțare pentru cererea de finanțare „Reabilitare energetică și lucrări conexe Corp C10, Centrul Școlar pentru Educație Incluzivă
    „Elena Doamna”, str. Cuza Vodă, nr. 56, municipiul Focșani, jud. Vrancea”, cod SMIS 137387 a fost semnat in data de 15.07.2021 de către Ministerul
    Dezvoltării, Lucrărilor Publice și Administrației, în calitate de Autoritate de Management pentru POR 2014-2020, Agenția pentru Dezvoltare
    Regională Sud-Est, în calitate de Organism Intermediar și Unitatea Administrativ Teritorială Județul Vrancea, în calitate de Beneficiar.
</p>

<p>
    Principalele lucrări de intervenție propuse a fi finalizate pană la data de 31.03.2023 vizează creșterea performanței energetice a clădirii în
    vederea reducerii consumului de energie primară și a emisiilor de CO2 prin:
</p>

<ul>
    <li>Reabilitarea termică a elementelor de anvelopă a clădirii;</li>
    <li>Reabilitarea termică a sistemului de încălzire/a sistemului de furnizare a apei calde de consum;</li>
    <li>Instalarea unor sisteme alternative de producere a energiei electrice și/sau termice pentru consum propriu;</li>
    <li>Reabilitarea/modernizarea instalației electrice în clădiri.</li>
</ul>

<p>Lucrările conexe prevazute în contractul de finantare constau în:</p>

<ul>
    <li>
        Protejarea/repararea elementelor nestructurale și/sau restaurarea elementelor arhitecturale și a componentelor artistice (refacere finisaje,
        repararea elementelor de construcție ale fațadei);
    </li>
    <li>
        Demontarea instalațiilor și a echipamentelor montate aparent pe fațadele/terasa clădirii, precum și remontarea acestora după efectuarea
        lucrărilor de intervenție;
    </li>
    <li>Refacerea finisajelor interioare;</li>
    <li>Refacerea trotuarelor de protecție, în scopul eliminării infiltrațiilor la infrastructura clădirii;</li>
    <li>Înlocuirea instalației de distribuție a apei reci;</li>
    <li>Înlocuirea instalației de apă rece și canalizare;</li>
    <li>Crearea de facilități pentru persoanele cu dizabilități;</li>
    <li>Sistem de desfumare;</li>
    <li>Lucrări de înlocuire a tâmplăriei interioare;</li>
    <li>Lucrări de modernizare a instalației de paratrăznet.</li>
</ul>

{% include news-image.html img='/assets/img/poze_stiri/02082021_adrse_news.jpg' description='' %}

<p>
    Beneficiarii direcți ai investiției propuse sunt cele peste 100 de persoane care frecventează zilnic structura ce urmează a fi reabilitată și cei
    peste 85 de angajați ai instituției care își desfăsoară activitatea în clădirea vizată.
</p>

<p>
    Valoarea totală a contractului de finanțare este de 4.802.789,15 lei, iar finanțarea nerambursabilă este în cuantum de 3.297.304,24 lei,
    reprezentand 98% din valoarea totala eligibilă a proiectului de investiție.
</p>

<br />

<p class="has-text-weight-semibold">Sursă foto și text: ADR Sud-Est</p>
