---
tag: EEA Grants
title: Apelul pentru inițiative bilaterale „Timișoara Capitala Europeană a Culturii 2023” este relansat
titleLong: Apelul pentru inițiative bilaterale „Timișoara Capitala Europeană a Culturii 2023” este relansat
filelist:
    R1:
        - title: Anexa 1.docx 
          subtitle: Click pentru a descărca
          file: Anexa 1.docx
        - title: Anexa 2.docx 
          subtitle: Click pentru a descărca
          file: Anexa 2.docx
        - title: Anexa 3.docx 
          subtitle: Click pentru a descărca
          file: Anexa 3.docx
        - title: Anexa 4.docx 
          subtitle: Click pentru a descărca
          file: Anexa 4.docx
        - title: Anexa 5.pdf 
          subtitle: Click pentru a descărca
          file: Anexa 5.pdf
        - title: Anexa 6.pdf 
          subtitle: Click pentru a descărca
          file: Anexa 6.pdf
        - title: Anexa 7.pdf
          subtitle: Click pentru a descărca
          file: Anexa 7.pdf
---

<p>Bugetul disponibil este de 2 mil. euro, grant 100% (nu este necesară cofinanțarea).</p>

<p>Termenul limită de depunere este de 20.12.2021 (ora 16:00, ora României).</p>

<p>Depunerea se va face exclusiv on-line pe platforma <a href="https://t2023.eeagrants.ro/" target="_blank">t2023.eeagrants.ro</a>.</p>

{% include news-image.html img='/assets/img/poze_stiri/18032021_eeagrants.png' description='' %}

<p>Vor fi finanțate evenimente, seminarii, campanii, festivaluri, expoziții, târguri care să transfere cunoștințe, bune practici etc.</p>

<p>Toate aceste evenimente trebuie să fie în strânsă legătură cu Timișoara 2023 Capitala Europeană a Culturii și derulate în parteneriat cu entități similare din statele donatoare - Norvegia, Islanda, Liechtenstein.</p>

<p>Poate aplica orice entitate publică sau privată, inclusiv ONG-uri, cu personalitate juridică din România și statele donatoare.</p>

<p>Aplicanții pot solicita clarificări la următoarea adresă: <a href="mailto:eeagrants.bilateral@mfe.gov.ro">eeagrants.bilateral@mfe.gov.ro</a>.</p>

<br />

<p>Textul apelului și documentele aferente se regăsesc în link-urile de mai jos:
    {% include docs-list.html list=page.filelist.R1 %}
</p>

<p>Instrucțiunile pentru a aplica sunt disponibile în textul apelului și pe <a href="https://t2023.eeagrants.ro/" target="_blank">t2023.eeagrants.ro</a>.</p>

<br />

<p class="has-text-weight-semibold">Ilustrație realizată de Dushky pentru Heritage of Timișoara</p>

<br />

<p>
    <span class="has-text-weight-semibold">Sursă foto și text: <a href="www.eeagrants.ro" target="_blank">www.eeagrants.ro</a></span>
</p>