---
tag: ADR Nord-Est
title: Comisia Europeană sprijină achizitiile inovatoare
titleLong: Comisia Europeană sprijină achizitiile inovatoare
---

<p>
    Achizițiile de inovare sprijină sectorul public in modernizarea serviciilor, cu economii de costuri și creând oportunități de piață pentru mediul
    privat.
</p>

{% include news-image.html img='/assets/img/poze_stiri/30072021_adrne.png' description='' %}

<p>
    Pentru a sustine, dezvolta și implementa acest tip de achiziții, bazate pe TIC, Comisia Europeană, prin Asistența Europeană pentru Achiziții de
    Inovare/ European Assistance For Innovation Procurement (EAFIP), sprijină autoritățile publice, în special achizitorii, furnizând asistență
    pentru:
</p>

<ul>
    <li>Abordarea soluțiilor inovatoare care să corespundă nevoilor specifice;</li>
    <li>Pregătirea și desfășurarea unor consultări de piață la nivelul UE;</li>
    <li>Redactarea documentelor de licitație;</li>
    <li>Lansarea cererilor de oferte publicate la nivel european, inclusiv suport pentru redactarea clarificărilor, în orice etapă a procesului;</li>
    <li>Semnarea contractelor cu furnizorii selectați, respectând legislația europeană și națională care reglementează achizițiile publice.</li>
</ul>

<p>
    In luna martie a anului 2021, s-a deschis calendarul apelurilor pentru noi proiecte, oferindu-se achizitorilor posibilitatea de a solicita
    asistență de specialitate gratuită.
</p>

{% include news-image.html img='/assets/img/poze_stiri/30072021_adrne2.png' %}

<p>
    În prezent, este
    <a href="https://ec.europa.eu/eusurvey/runner/EAFIP2021" target="_blank">deschis</a>
    al doilea apel, iar cei care pot
    <a href="http://eafip.eu/assistance/eligibility-and/" target="_blank">beneficia</a>
    de asistență în cadrul inițiativei EAFIP, sunt toți achizitorii publici din statele membre UE.
</p>

<p>Apelurile pentru solicitarea asistenței tehnice vor fi publicate la fiecare trei luni si se vor încheia în aprilie 2022.</p>

<p>
    EAFIP actualizează în mod regulat paginile proiectului, astfel incat pot fi gasite mai multe
    <a href="http://eafip.eu/assistance/procurers-receiving-assistance/" target="_blank">informații</a>
    despre achizitorii selectați în apelurile anterioare, care au primit sau primesc și în prezent asistență pentru proiectele lor.
</p>

<p>
    Asistența Europeană pentru Achiziții de Inovare (European Assistance For Innovation Procurement (EAFIP) este o inițiativă finanțată de Comisia
    Europeană (prin DG CONNECT) constând în acordarea de asistență locală achizitorilor publici, pentru inițierea unor noi achiziții de inovare și
    pentru promovarea bunelor practici, cât si pentru crearea si dezvoltarea bazei de date cu achizițiile de inovare finalizate.
</p>

<br />

<p class="has-text-weight-semibold">Sursă foto și text: ADR Nord-Est</p>
