---
tag: ADR Nord-Est
title: Parlamentul European a aprobat Mecanismul de Redresare și Reziliență
titleLong: Parlamentul European a aprobat Mecanismul de Redresare și Reziliență
filelist:
  R1:
    - title: Regulamentul de instituire
      subtitle: Click pentru a descărca
      file: PE_75_2020_INIT_ro.pdf
---	

<p>
	Pe 9 februarie 2021, Parlamentul European a aprobat <span class="has-text-weight-semibold">Mecanismul de Redresare și Reziliență</span>, conceput pentru a ajuta țările Uniunii Europene să combată efectele pandemiei de COVID-19.
</p>

<p>
	Regulamentul acestui instrument, care stabileste obiectivele, finanțarea și normele de accesare ale Mecanismului de Redresare și Reziliență (MRR), a fost adoptat cu 582 voturi pentru, 40 împotrivă și 69 abțineri. MRR este cel mai important element constitutiv al pachetului de stimulente aferent Instrumentului european de redresare <span class="has-text-weight-semibold">„Next Generation EU”</span>, în valoare de 750 de miliarde euro.
</p>

{% include news-image.html img='/assets/img/poze_stiri/22022021_adrne_news.jpg' description='' %}

<br />

<h4>Limitarea efectelor negative ale pandemiei</h4>

<p>
	Mecanismul va pune la dispoziție granturi și împrumuturi în valoare de 672,5 miliarde euro pentru investiții publice și reforme în cele 27 de state membre, pentru a le ajuta pe acestea din urmă să facă față impactului pandemiei, pentru a promova tranziția verde și cea digitală și pentru a construi societăți reziliente și favorabile incluziunii.
</p>

<p>
	Statele membre vor primi sprijin din partea mecanismului pe baza <span class="has-text-weight-semibold">planurilor lor naționale de redresare și reziliență</span>, care sunt în curs de pregătire. Finanțarea va fi disponibilă timp de trei ani, iar guvernele Uniunii Europene pot cere o prefinanțare de până la 13% pentru planurile lor de redresare și reziliență.
</p>

<br />

<h4>Eligibilitatea pentru finanțare</h4>

<p>
	Pentru a putea beneficia de finanțare, planurile naționale de redresare și reziliență trebuie să se concentreze pe domenii-cheie de politică ale UE: <span class="has-text-weight-semibold">tranziția spre o economie verde</span>, inclusiv <span class="has-text-weight-semibold">biodiversitatea, transformarea digitală, coeziunea economică și competitivitatea și coeziunea socială și teritorială.</span>
</p>

<p>
	Deasemenea, sunt eligibile pentru finanțare și planurile care ajută instituțiile să se pregătească pentru crize și să reacționeze la ele.
</p>

<p>
	Mai pot fi finanțate politicile pentru copii și tineret, inclusiv pentru învățământ și formarea de competențe. <br />
	Regulamentul mai stipulează că doar <span class="has-text-weight-semibold">statele membre care s-au angajat să respecte statul de drept și valorile fundamentale ale Uniunii pot primi fonduri din MRR</span>.
</p>

<br />

<h4>Dialog și transparență</h4>

<p>
	Comisia Europeană este responsabilă pentru aplicarea MRR. Comisia poate fi convocată de comisiile de resort ale Parlamentului European, o dată la două luni, pentru a discuta situația UE din perspectiva redresării și a modului în care obiectivele și etapele stabilite au fost respectate de statele membre.
</p>

<p>
	Comisia Europeană va pune la dispoziția statelor membre și un sistem integrat de informare și monitorizare, prin care va furniza informații referitoare la modul în care sunt folosite fondurile.
</p>

<p>
	Pe 11 februarie 2021, Consiliul Uniunii Europene a adoptat regulamentul de instituire a Mecanismului de redresare și reziliență, care constituie elementul central al planului de redresare al UE.
</p>

<br />

<h4>Măsuri care beneficiază de sprijin și cerințe principale</h4>

<p>
	În temeiul noului regulament, statele membre vor trebui să stabilească în planurile lor naționale de redresare și reziliență un pachet coerent de reforme și proiecte de investiții, care să vizeze șase domenii de politică de relevanță europeană:
</p>

<ul>
	<li>tranziția verde;</li>
	<li>transformarea digitală;</li>
	<li>creșterea inteligentă, durabilă și favorabilă incluziunii și ocuparea forței de muncă;</li>
	<li>coeziunea socială și teritorială;</li>
	<li>sănătatea și reziliența;</li>
	<li>politicile pentru generația următoare, copiii și tineretul, inclusiv educația și competențele.</li>
</ul>

<p>
	Sprijinul va fi corelat cu recomandările specifice fiecărei țări din cadrul semestrului european, care identifică provocările principale pe care fiecare stat membru trebuie să le abordeze în vederea consolidării competitivității, precum și a coeziunii sociale și economice. Acesta va contribui, de asemenea, la punerea în aplicare a Pilonului european al drepturilor sociale.
</p>

<p>
	Unele dintre cerințele-cheie se referă la obiectivele ecologice și digitale ale UE. Cel puțin 37% din alocarea fiecărui plan trebuie să sprijine tranziția verde, iar cel puțin 20% trebuie să sprijine transformarea digitală. În plus, toate măsurile incluse în planurile statelor membre ar trebui să respecte principiul de „a nu aduce prejudicii semnificative”, în scopul protejării obiectivelor de mediu ale UE.
</p>

<p>
	Un aspect important este că statele membre vor trebui, de asemenea, să se asigure că sunt instituite sisteme de control adecvate pentru a preveni, a depista și a corecta corupția, frauda și conflictele de interese.
</p>

<br />

<h4>Procesul de aprobare și finanțarea</h4>

<p>
	Ca regulă generală, statele membre vor putea transmite Comisiei planurile lor de redresare și reziliență până la 30 aprilie 2021. Apoi, Comisia va avea la dispoziție până la două luni pentru a evalua planurile și, ulterior, Consiliul va putea adopta decizia privind aprobarea finală a fiecărui plan, în termen de patru săptămâni.
</p>

<p>
	Pentru planurile aprobate în 2021, statele membre vor putea obține o prefinanțare de până la 13% din granturile și împrumuturile prevăzute în planurile lor. Restul fondurilor vor fi plătite în funcție de îndeplinirea obiectivelor de etapă și a țintelor convenite.
</p>

<p>
	Cu toate acestea, pentru ca fondurile să devină disponibile, trebuie mai întâi ca decizia privind resursele proprii ale UE să fie ratificată în toate statele membre, deoarece decizia autorizează Comisia să împrumute de pe piețele de capital pentru a contracara consecințele crizei provocate de pandemia de COVID-19.
</p>

<p>
	{% include docs-list.html list=page.filelist.R1 %}
</p>

<br />

<p>
	<span class="has-text-weight-semibold">Sursă foto și text: Consiliul UE, Parlamentul European, <a href="https://www.fonduri-structurale.ro/" target="_blank">Fonduri-Structurale.ro</span>
</p>









