---
tag: ADR Sud-Vest Oltenia
title: Centru multifuncțional și zonă de agrement în Balș, prin POR 2014-2020
titleLong: Centru multifuncțional și zonă de agrement în Balș, prin POR 2014-2020
---

<p>
	Orașul Balș va beneficia de un centru multifuncțional destinat organizării de evenimente și festivități culturale și recreative, precum și de amenajarea unui spațiu public în aer liber, care include zona de agrement „Balta Gării“ și drumul de acces – strada Nufărului. Investițiile vor fi realizate prin accesarea de fonduri europene în cadrul Programului Operațional Regional 2014-2020.
</p>

<p>
	Directorul general al Agenției pentru Dezvoltare Regională (ADR) Sud-Vest Oltenia, doamna Marilena Bogheanu, și primarul orașului Balș, domnul Cătălin Rotea, au semnat, în data de 9 februarie 2021, contractul de finanțare, prin Programul Operațional Regional (POR) 2014-2020, destinat îmbunătățirii calității vieții locuitorilor, dezvoltării și creșterii atractivității orașului.
</p>

<p>
	Proiectul finanțat în cadrul Axei Prioritare 13 – Sprijinirea regenerării orașelor mici și mijlocii, cu o valoare totală de 13,8 milioane de lei, prevede alocarea unei sume de 13,5 milioane de lei, ca finanțare nerambursabilă, atât pentru construirea unui centru multifuncțional, cât și pentru asfaltarea drumului de acces (strada Nufărului) și amenajarea zonei de agrement „Balta Gării“, cândva o atracție pentru locuitori, spațiu de promenadă și socializare. Contribuția Primăriei orașului Balș va fi de 2%, în valoare de 276 de mii de lei.
</p>

{% include news-image.html img='/assets/img/poze_stiri/10022021_adrsvoltenia.jpg' description='' %}

<p>
	Prin acest proiect, în cadrul componentei A, se urmărește construirea unui spațiu destinat organizării de evenimente și festivități culturale și recreative. Viitorul centru multifuncțional va fi construit în vecinătatea Liceului Teoretic „Petre Pandrea“, pe strada Nicolae Bălcescu, nr. 23-25.
</p>

<p>
	Cea de-a doua componentă a proiectului – B va rezolva o problemă importantă legată de mediu, întrucât, în prezent, zona de agrement în aer liber nu este igienizată. Pe terenul respectiv sunt depozitate gunoaie menajere, iar lacul este colmatat pe o suprafață foarte mare. În urma investiției realizate prin POR 2014-2020, zona „Balta Gării“ va fi transformată într-un spațiu destinat organizării în aer liber de evenimente și festivități culturale și recreative, iar locuitorii Balșului se vor putea plimba şi relaxa într-o oază de verdeaţă.
</p>

<p>
	Cele două obiective de investiție au fost gândite astfel încât să se completeze reciproc. Perioada de implementare a proiectului este de 51 de luni, până la data de 31 octombrie 2022.
</p>

<p>
	<em>„Astăzi (marți, 9 februarie - n.r.) am semnat un nou contract de finanțare, în valoare de 13,8 milioane de lei, prin care orașul Balș va beneficia de un centru multifuncțional modern și va deveni, totodată, o localitate mai verde, mai curată și mai sănătoasă. Proiectul este important pentru oameni, care vor avea spații de relaxare, unde să își petreacă timpul liber, să se recreeze. Beneficiarii proiectului sunt atât locuitorii orașului Balș, cât și cei din zonele rurale apropiate, care vor beneficia de locuri de muncă în cadrul infrastructurilor create și de spații pentru evenimente și activități culturale și recreative, organizate deopotrivă în aer liber și în interiorul centrului multifuncțional. Astfel, intervențiile prevăzute în cadrul celor două componente ale proiectului nu doar vor îmbunătăți viața locuitorilor, ci vor crește atractivitatea orașului“</em>, a declarat doamna Marilena Bogheanu, directorul general al ADR Sud-Vest Oltenia.
</p>

{% include news-image.html img='/assets/img/poze_stiri/10022021_adrsvoltenia_front.jpg' description='' %}

<p>
	Proiectul implementat cu fonduri europene va contribui la revitalizarea orașului, la crearea unor spații de recreere și agrement, precum și la reducerea poluării. Valoarea totală a celor zece proiecte contractate de Primăria orașului Balș prin POR 2014-2020, până în prezent, este de 8,9 milioane de euro.
</p>

<br />

<p>
	<span class="has-text-weight-semibold">Sursă foto și text: ADR Sud-Vest Oltenia</span>
</p>