---
tag: Euronews si site-ul IMAGO-MOL
title: Soluție inteligentă - cum stimulează clusterele inovația
titleLong: Soluție inteligentă - cum stimulează clusterele inovația
---

<p>
    <span class="has-text-weight-semibold">Business Planet</span> a ajuns la Iași, în nord est-ul României, pentru a vedea cum o companie IT și-a lansat aplicația pentru farmacii, beneficiind de faptul că face parte dintr-un cluster.
</p>

<p>Compania română de software <span class="has-text-weight-semibold">RomSoft</span> a creat o aplicație digitală prin care pacienții se conectează la farmaciile care au medicamentele de care ei au nevoie.</p>

{% include news-image.html img='/assets/img/poze_stiri/05042021_clustere.jpg' description='' %}

<p>"Pacientul trebuie să completeze un formular de cerere de medicament, apoi farmacistul, care este înregistrat pe platformă, îl poate vedea în sistem și poate răspunde la aceasta solicitare, cu un singur clic. Apoi, un mesaj este trimis pacientului, prin SMS sau e-mail, cu informații despre data la care medicamentul este/va fi disponibil", explică Iulia Weingold, de la RomSoft.</p>

<p><em>Aplicația digitală RomSoft permite oamenilor să localizeze mai rapid farmaciile care au medicamentul prescrise. © Euronews</em></p>

{% include news-image.html img='/assets/img/poze_stiri/05042021_cluster2.jpg' description='' %}

<p>RomSoft este membru al clusterului IMAGO-MOL, singurul cluster de imagistică medicală atât din România, cât și din UE. Clusterul depune eforturi pentru a conecta entitati publice, cum ar fi spitalele, cu întreprinderi private, în special cu firme din sectorul IT și al dezvoltării de software. Iulia Weingold subliniază că sprijinul clusterului a fost crucial: "Clusterul ne-a ajutat foarte mult să promovăm aplicația. Am reușit să aducem pe platforma mai mulți farmaciști și am dezvoltat contacte cu mass-media, astfel încât să putem ajunge la cat mai mulți oameni, într-un timp scurt. Următorul pas este simplificarea si mai avansata a procesului și posibilitatea pacienților să caute medicamentul de care au nevoie, direct în aplicatie, la mai multe farmacii."</p>

<p><em>Iulia Weingold, de la RomSoft, spune că sprijinul pe care compania l-a primit de la clusterul IMAGO-MOL, pentru a-și lansa aplicația pe piață, a fost vital. © Euronews</em></p>

<p>RomSoft a dezvoltat solutii digitale pentru a contracara efectele secundare ale pandemiei COVID-19 - aplicatia digitala EMIM, in lupta impotriva COVID-19: <a href="https://www.imago-mol.ro/aplicatia-digitala-emim-se-alatura-luptei-impotriva-covid-19/" target="_blank">https://www.imago-mol.ro/aplicatia-digitala-emim-se-alatura-luptei-impotriva-covid-19/</a></p>

<p>Confruntandu-se cu situatiile dificile generate de criza COVID-19, compania de software <a href="https://www.rms.ro/" target="_blank">RomSoft</a>, unul din membrii fondatori ai IMAGO-MOL Cluster, a contribuit la facilitarea comunicarii dintre pacienti si farmacisti.</p>

<p>Plecand de la dificultatile pe care le intampina oamenii in gasirea medicamentelor de care au nevoie, dar si de la provocarile pe care le intampina farmacistii in aceasta perioada, din cauza pandemiei (numarandu-se printre categoriile profesionale foarte expuse), Romsoft a lansat o noua functionalitate pe platforma <a href="https://emim.ro/Home/Index" target="_blank">EMIM</a> – “Cerere de medicamente pentru pacienti”.</p>

<p>Scopul este conectarea pacientilor care cauta un anume medicament, cu farmaciile care il au in stoc. Prin intermediul EMIM, farmacistii isi pot ajuta clientii, prin inregistrarea in aplicatie, folosind optiunea de <span class="has-text-weight-semibold">autentificare farmacist</span>. Cand un pacient completeaza o “cerere de medicament”, acesta va fi informat automat prin e-mail. Odata inregistrat, farmacistii pot vedea toate cererile de medicamente care sunt active in sistem si pot raspunde oricareia dintre ele,  printr-un singur clic. Mesajul va fi trimis pacientului prin SMS sau e-mail, la alegerea farmacistului.</p>

<p>Ca pacient, odata ce cererea de medicamente este transmisa, farmacistii din zona sa vor raspunde prin SMS / e-mail, daca au produsul in stoc. Prin EMIM, utilizatorii economisesc timp pretios, deoarece sunt anuntati, prin SMS sau e-mail, imediat ce medicamentul este in stoc la o farmacie partenera EMIM.</p>

<p>Pentru pacienti, aplicatia mobila poate fi descarcata de pe <a href="https://play.google.com/store/apps/details?id=com.emim.pacient" target="_blank">Google Play.</a></p>

<p>Este important de adaugat ca acesta este un serviciu complet gratuit, inclusiv comunicarea prin SMS, atat pentru pacient, cat si pentru farmacist.</p>

<p>Din dorinta de a ajuta sistemul medical, EMIM isi asuma misiunea de a facilita interactiunea pacient-farmacist, fiind la curent cu cele mai noi informatii cu privire la stocurile mai multor categorii de medicamente. Este important ca pacientii sa fie ajutati sa evite sa iasa mai mult decat este necesar, sa stea la cozi in farmacii, doar pentru a afla ca medicamentul pe care il cauta nu este in stoc.</p>

<p>Clusterul Regional Inovativ de Imagistică Moleculară şi Structurală Nord-Est (IMAGO-MOL), din care face parte RomSoft, este singurul cluster de imagistică medicală din România si din Uniunea Europeană; este o entitate non-guvernamentală, non-profit, avand ca obiectiv sprijinirea creşterii competitivităţii ştiinţifice a membrilor săi, cat şi a competitivităţii Regiunii Nord-Est în domeniul imagisticii medicale, prin dezvoltarea unui cadru de cooperare bazat pe diversificarea şi optimizarea serviciilor din acest domeniu.</p>

<br>

<p><span class="has-text-weight-semibold">Sursă foto și text: © Euronews si site IMAGO-MOL, via ADR Nord Est</span></p>

