---
tag: Politica Urbană a României
title: Invitație - Politica Urbană a României - Ghidul tău pentru orașe sustenabile
titleLong: Invitație - Politica Urbană a României - Ghidul tău pentru orașe sustenabile
filelist:
    R1:
        - title: Politica Urbană a României - Ghidul tău pentru orașe sustenabile 
          subtitle: Click pentru a descărca
          file: Invitatie_Eveniment Politica Urbana a Romaniei_RegiuneaV.pdf
---

<p>Ministerul Dezvoltării, Lucrărilor Publice și Administrației a semnat pe 29 noiembrie 2019 un contract de asistență tehnică cu Banca Mondială pentru elaborarea primei Politici Urbane a României.</p>

{% include news-image.html img='/assets/img/poze_stiri/29032021_politicaUrbana.png' description='' %}

<p>Parte a proiectului „Elaborarea politicii urbane ca instrument de consolidare a capacității administrative și de planificare strategică a zonelor urbane din România”, în perioada martie - aprilie 2021, vor fi organizate o serie de evenimente online în toate regiunile de dezvoltare ale țării, cu scopul de a prezenta direcțiile propuse de Politica Urbană a României pentru dezvoltarea orașelor românești și de a dezbate modele de bună practică pentru a crește implicarea comunității în dezvoltarea zonelor urbane.</p>

<p>În acest context, dorim să vă invităm în data de 30 martie, ora 9:30, la evenimentul online “Politica Urbană a României, ghidul tău pentru orașe sustenabile”, care se va desfășura prin intermediul platformei Webex. Implicarea dumneavoastră va contribui la consolidarea unor mecanisme de dialog menite să genereze schimburi de idei pentru valorificarea potențialului zonelor urbane.</p>

<p>În speranța că puteți participa la acest eveniment, vă rugăm să ne confirmați prezența dumneavoastră până luni, 29 martie 2021, printr-un email la politicaurbana.romania@gmail.com, la telefon 0766.531.736, sau completând formularul de înscriere disponibil aici: <a href="https://forms.gle/fbmDbfatBhUH1VEj8" target="_blank">https://forms.gle/fbmDbfatBhUH1VEj8</a>.</p>

<br>

<p>Pentru mai multe detalii și pentru a vizualiza programul evenimentului vă rugăm să consultați următorul document: <br>
    {% include docs-list.html list=page.filelist.R1 %}
</p>

<p><span class="has-text-weight-semibold">Sursă foto și text: Politica Urbană a României</span></p>