---
tag: ADR Nord-Est
title: La Iasi, tramvaie moderne prin finantari europene
titleLong: La Iasi, tramvaie moderne prin finantari europene
---

<p>
    In septembrie 2021, Compania de Transport Public Iași a scos pe traseu încă două tramvaie PESA. În prezent, 4 tramvaie noi, din cele 6 aduse
    recent din Polonia, circulă pe străzile Municipiului Iași. Primele două au trecut de perioada de probă.
</p>

<p>În curand, urmează să ajungă la Iași si primul tramvai din lotul din Turcia.</p>

<p>
    <em
        >„În acest moment, patru din cele șase tramvaie PESA (…) circulă pe traseele din oraș. A fost încheiată perioada de testare funcțională în
        cazul primelor două vagoane sosite la Iași,(…), până acum, fiecare dintre cele două vehicule a înregistrat este 1.000 de kilometri la stradă
        și ne pregătim să încheiem documentele de recepție a acestora. În cursul acestei săptămâni urmează să ajungă la noi și primul tramvai
        Bozankaya, care a plecat din Ankara la sfârșitul săptămânii trecute”</em
    >, a declarat purtătorul de cuvânt CTP Iași.
</p>

{% include news-image.html img='/assets/img/poze_stiri/11102021_adrne1.jpg' description='' %}

<p>
    Primele două garnituri moderne de tramvai, construite de compania poloneză Pesa, au ajuns în Municipiul Iași la începutul lunii august 2021. Cele
    două fac parte din prima tranșă dintre cele 16 tramvaie moderne poloneze de care vor beneficia ieșenii, in cadrul unui proiect implementat cu
    fonduri euroene. Valoarea contractului a fost de circa 163 de milioane de lei (aproximativ 33,1 milioane de euro). Practic, fiecare tramvai a
    costat 2,06 milioane de euro. Producătorul din Polonia a semnat contractul cu municipalitatea în primăvara acestui an. Cele 16 tramvaie Pesa au o
    capacitate de transport totală de 230 de locuri, dintre care, 30 pe scaune fixe, nerabatabile și individuale.
</p>

<p>
    Tramvaiele au aer condiționat, instalație de încălzire corespunzătoare pentru sezonul rece, sistem de supraveghere video interior și exterior,
    precum și echipament pentru anunțuri vocale exterioare în stații pentru persoanele cu dizabilități de vedere. Tramvaiele produse de Pesa au o
    instalație electrică a echipamentelor de bilete și o instalație de informare a călătorilor atât la interior, cât și la exterior, sistem de
    numărare a călătorilor prin senzori video inteligenți 3D etc.
</p>

{% include news-image.html img='/assets/img/poze_stiri/11102021_adrne3.jpg' description='' %}

<p>
    Pe lângă tramvaiele PESA, Municipiul Iași va beneficia și de 16 tramvaie moderne, cu o lungime minimă de 26 de metri, livrate de compania
    „Bozankaya Otomotiv Mak”, din Turcia. Valoarea totală a achiziției celor 16 tramvaie este de peste 167,7 milioane de lei, deasemenea in cadrul
    unui proiect cu fonduri , prin Programul Operational Regional 2014-2020.
</p>

<p>
    <em
        >"Primăria îşi respectă promisiunea făcută ieşenilor de a face din transportul în comun un sistem de deplasare smart, sigur, ecologic. Îi
        invit pe ieşeni să circule cât mai mult cu tramvaiul şi cât mai puţin cu propriul automobil, pentru a arăta că le pasă de oraşul lor, de
        calitatea aerului pe care-l respirăm. Călătoriile cu tramvaiul se vor desfăşura în condiţii ireproşabile. (…). Inaugurarea a fost marcată
        printr-un moment oficial, la Palatul Culturii, la prezentarea oficială a tramvaielor au participat ambasadorul Poloniei în România, Maciej
        Lang, şi o delegaţie a producătorului polonez condusă de Krzysztof Zdziarski, preşedintele PESA Bydgoszcz SA"</em
    >, a declarat primarul Mihai Chirica.
</p>

<br />

<p class="has-text-weight-semibold">Sursă foto și text: ADR Nord-Est</p>
